*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
}
header img{
    float: left;
}
ul{
    text-align: center;
}
h1{
    vertical-align:middle;
    text-align: center;

}
#nome{
    padding-top: 10px;
}
#nome2{
    padding-top: 10px;
    margin-bottom: 90px;
}
li, a, button{
    font-weight: 500px;
    font-size: 16px;
    color: #ffea00;
    text-decoration: none;
    font-size: 18px;
    list-style: none;
    }
header{
    background-color: #313237;
    padding-bottom: 5px;
}
header img{
    margin-top: 5px;
    margin-left: 5px;
    width: 50px;
}
body{
 
    
}
main{
   height: 90px;
}
#bolo{
    float: right;
    height: auto;
    margin-right: 0;
    border-radius: 0;
}
section{
    text-align: center;
}
section img{
    height: 200px;
    margin-right: 2%;
    border-radius: 10px;
}
section p{
    margin-top: 300px;
    margin-left: 40px;
    float: left;
    font-size: 30px;
    background-color:#ffea00;
    border-radius: 10px;
    padding: 5px;
    float: left;
}

footer{
    float: left;
    bottom: 0;
    left: 0;
    right: 0;
    height:10%;
    width: 100%;
    color: #EAEAEA;
    background-color: #24252A;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
    }
    footer img{
        height: 48px;
    }
    footer a{
        float: left;
    }
    @media (max-width: 480px){
       
    }
    @media (min-width: 481px) and (max-width: 680px){
      
    }
    @media (min-width: 681px) and (max-width: 980px){
      
    }
    @media (min-width: 981px){
    }